:root {
  --orange-clr: rgb(244, 128, 71);
  --orange-clr-a: rgb(255, 155, 105);
  --txt-clr-fff: rgb(255, 255, 255);
  --txt-clr-dark: #222;
  --transition-300: 0.3s;
  --transition-150: 0.15s;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media (min-width: 768px) {
  .wrapper-all {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .wrapper-all {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .wrapper-all {
    width: 1170px;
  }
}
.wrapper-all {
  margin: 0 auto;
}
